<h2>請修改你的支出</h2>
<form action="/records/{{record._id}}?_method=PUT" method="POST" class=" needs-validation" novalidate>
  <div class="mb-3">
    <label for="name" class="form-label">名稱* :</label>
    <input type="text" class="form-control" id="name" name="name" value="{{record.name}}" required>
    <div class="invalid-feedback">
      請填寫支出名稱!
    </div>
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">日期* :</label>
    <input type="date" class="form-control" id="date" name="date" value="{{record.date}}" required>
    <div class="invalid-feedback">
      請填寫支出日期!
    </div>
  </div>
  <div class="mb-3">
    <label for="categoryId" class="form-label">類別* :</label>
    <select name="categoryId" id="categoryId" class="form-control">
      <option value=1 {{#compare record.categoryId 1}} selected {{/compare}}>
        家居物業
      </option>
      <option value=2 {{#compare record.categoryId 2}} selected {{/compare}}>
        交通出行
      </option>
      <option value=3 {{#compare record.categoryId 3}} selected {{/compare}}>
         休閒娛樂
      </option>
      <option value=4 {{#compare record.categoryId 4}} selected {{/compare}}>
        餐飲食品
      </option>
      <option value=5 {{#compare record.categoryId 5}} selected {{/compare}}>
         其他
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">金額* :</label>
    <input type="number" class="form-control" id="amount" name="amount" value="{{record.amount}}" required>
    <div class="invalid-feedback">
      請填寫支出金額!
    </div>
  </div>

  <button type="submit" class="btn btn-primary">送出</button>
</form>